<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "http://connect.facebook.net/ko_KR/sdk.js#xfbml=1&appId=1562660880653325&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>
  window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
</script>

<div class="share-container">
  <div>
    <div style="border:none;">
      <div>
        <div class="input-group">
          <input type="text" class="form-control" value="<%= Googl.shorten(request.original_url, nil, "AIzaSyD2MQg2ZcgjFOtI-aTDktHKR6dm5K76A6Q").short_url %>" disabled>

          <div class="input-group-btn">
            <button type="button" id="share-btn" data-clipboard-text="<%= Googl.shorten(request.original_url, nil, "AIzaSyD2MQg2ZcgjFOtI-aTDktHKR6dm5K76A6Q").short_url %>" class="btn btn-default" title="Copy to Clipboard" data-toggle="tooltip" data-placement="top"><span class="glyphicon glyphicon-link"></span></button>
          </div>
        </div>
        <br/>
        <a class="sns-button" href="http://www.facebook.com/share.php?u=<%= request.original_url %>" onclick="return fbs_click()" target="_blank"><%= image_tag "fb-square.png", size: "40x40" %></a>
        <a class="sns-button" href="https://twitter.com/share?hashtags=Macaron,선물&text=OOO님을 위해 함께 선물을 준비해요!"><%= image_tag "twitter-square.png", size: "40x40" %></a>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function(){
      var client = new ZeroClipboard( $("#share-btn") );
      $('#share-btn').on('click', function(){
        $(this).attr( "data-original-title", "Copied!" );
        $(this).tooltip('show');
      });
      $('#share-btn').mouseover( function(){
        $(this).tooltip('show');
      });
      $('#share-btn').mouseout( function(){
        $(this).attr( "data-original-title", "Copy to Clipboard" );
      });
    });
  </script>

</div>
