<div class="col-md-3 gift-card" data-toggle="modal" data-target="#new-fund" data-gift-id="<%= gift.id %>" data-friend-id="<%= params[:friend_id] %>">
  <div class="recommendation-item">
    <div class="gift-image" style="background-image: url(<%= gift.image %>)"></div>
    <div class="gift-info">
      <div class="gift-name">
        <h4><%= gift.name %></h4>
      </div>
      <p class="gift-price">
        <%= number_to_currency gift.price, unit: '₩ ', precision: 0 %>
      </p>
    </div>
  </div>
</div>