<div class="cont-container container">
<h3 class="page-header">선물 참여하기<small> 최대 참여 가능 금액은 <%= number_to_currency @fund.remain_amount, unit: '원', precision: 0, format: '%n%u' %>입니다.</small></h3>
  <div class="row">
    <div class="cont-form-container col-md-8">
      <%= form_for @contribution_form, url: fund_contributions_path do |f| %>
        <div class="contribution-money form-group">
          <div class="input-money form-group">
              <%= button_tag "5,000원", type: "button", class: "btn btn-default ", data: { amount: 5000 } %>
              <%= button_tag "10,000원", type: "button", class: "btn btn-default ", data: { amount: 10000 } %>
              <%= button_tag "20,000원", type: "button", class: "btn btn-default ", data: { amount: 20000 } %>
              <div class="form-inline pull-right">
                <div class="input-group">
                  <%= f.label :amount, class: "sr-only" %>
                  <%= f.text_field :amount, class: "form-control ", type: "number", max: @fund.remain_amount, required: true %>
                  <div class="input-group-addon">원</div>
                </div>
              </div>
              <div class="clearfix"></div>
          </div>

          <div class="contacts">
            <div class="form-inline input-group">
              <%= f.text_field :payment, class: "form-control", id: "name", placeholder: "입금자명", required: true %>
              <%= f.text_field :contact, class: "form-control pull-right", id: "phone", placeholder: "연락 가능한 전화번호", required: true %>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="celebration-message">
          <h3 class=>축하 메시지</h3>
          <%= f.text_area :message, class: "form-control", rows: 4, placeholder: "작성한 메시지는 롤링페이퍼 형태로 함께 전달됩니다" %>
        </div>

        <h3 class="page-header">결제 수단</h3>
          <p>현재는 무통장 입금만 가능합니다. 입금계좌 : 신한 110-383-537755 (김민혁)</p>

        <div class="submit-btn">
          <%= f.submit "참여하기", class: "btn btn-success btn-lg btn-block" %>
        </div>
      <% end %>

    </div>

    <div class="gift-container col-md-4">
      <div class="text-center form-group">
        <%= image_tag @fund.gift.image, size: "304x304" %>
      </div>
      <h4 class="text-center"><%= @fund.gift.name %></h4>
    </div>
  </div>

</div>