<div class="cont-container container">
  <div class="row">
    <div class="cont-form-container col-md-8">
      <h3>선물 참여하기</h3>
      

      <div class="contribution-money">
        <p>최소 5,000원부터 참여가 가능합니다</p>
        <div class="input-money form-group">
          <%= button_tag "5000원", class: "btn btn-default btn-lg active" %>
          <%= button_tag "10000원", class: "btn btn-default btn-lg" %>
          <%= button_tag "20000원", class: "btn btn-default btn-lg" %>
          <div class="form-inline pull-right">
            <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
            <div class="input-group">
              <input type="text" class="form-control input-lg" id="exampleInputAmount">
              <div class="input-group-addon">원</div>
            </div>
          </div>
        </div>


        <div class="contacts">
          <div class="form-inline input-group">
            <input type="text" id="name" class="form-control" placeholder="입금자명">
            <input type="text" id="phone" class="form-control pull-right" placeholder="연락 가능한 전화번호">
          </div>
          <p>작성한 전화번호로 입금 및 배송 확인 문자가 전송됩니다</p>
        </div>

        <p class="pull-right">입금계좌 : 신한 110-383-537755 (김민혁)</p>
      </div>

      <div class="clearfix"></div>


      <div class="celebration-message">
        <h3>축하 메시지<small>작성한 메시지는 롤링페이퍼 형태로 함께 전달됩니다</small></h3>

        <textarea class="form-control" rows="4"></textarea>
      </div>

      <div class="submit-btn">
        <%= button_tag "참여하기", class: "btn btn-primary btn-lg" %>
      </div>

    </div>

    <div class="gift-container col-md-4">
      <h3>선물 소개</h3>

      <div class="text-center form-group">
        <%= image_tag "city_background.jpg", size: "250x250" %>
      </div>

      <p>겁나 좋은 선물 설명이요</p>

    </div>
  </div>

</div>