<div class="container">
    <div class="col-md-8 gift-description">
      <div class="gift-image" style="background-image: url(<%= @fund.gift.image %>)"></div>
        <div>
          <%= FundForm::SITUATIONS.detect {|a| a[1] == @fund.situation }[0] %>
        </div>
        <div>
          <%= @fund.description %>
        </div>
    </div>
    <div class="col-md-4">
      <div class="friend-information">
        <h4 class="gift-name"><%= @fund.gift.name %></h4>
        <span class="gift-price pull-left"><%= number_to_currency @fund.gift.price, unit: '₩', precision: 0 %></span>
        <small class="pull-right">To <%= @fund.friend.name %></small>
        <div class="clearfix"></div>
      </div>
      <div class="friend-information">
        <%= submit_tag "참여하기", class: 'btn btn-lg btn-success btn-block pull-right'%>

        <h4>참여현황</h4>
        <h2><%= number_to_currency 100000, unit: '원', precision: 0, format: '%n%u' %></h2>

        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
            60%
          </div>
        </div>

        <div class="contributors">
          <% (@fund.contributions*10).each_slice(4) do |contributions| %>
            <div>
              <% contributions.each do |contribution| %>
                <div class="col-sm-3 col-md-3 contributor-image">
                  <%= image_tag "http://graph.facebook.com/#{ contribution.user.uid}/picture?height=30&width=30" %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>