<% content_for :meta do %>
  <meta property="og:image" content="<%= @fund.friend.profile_image %>">
  <meta property="og:description" content="<%= @fund.description %>">
<% end %>
<div class="container fund-container">
    <div class="col-md-8 gift-description">
      <div class="gift-image" style="background-image: url(<%= @fund.gift.image %>)"></div>
      <div class="description">
        <article data-readmore="" aria-expanded="false" id="description" style="max-height: none; height:10px; word-break: break-all;">
          <%= simple_format @fund.description, class: "lead" %>
        </article>
        <a href="#" data-readmore-toggle aria-controls="description">더보기</a>
      </div>

      <h3 class="page-header">축하 메시지</h3>
      <% @fund.contributions.each_with_index do |contribution, index| %>
        <div class="media">
          <div class="media-left">
            <a href="#">
              <%= image_tag "http://graph.facebook.com/#{contribution.user.uid}/picture?height=64&width=64", size:"64x64" %>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><%= contribution.user.name %></h4>
            <div class="contribution-message" data-readmore="" aria-expanded="false" id="message-<%= index %>" style="max-height: none; height: 10px; word-break: break-all;">
              <%= contribution.message %>
            </div>
            <a href="#" data-readmore-toggle aria-controls="message-<%= index %>">더보기</a>
          </div>
        </div>
      <% end %>
    </div>
    
    <div class="col-md-4">
      <div class="friend-information">
        <h3>받는 사람</h3>
        <%= image_tag @fund.friend.profile_image %>
        <%= @fund.friend.name %>
      </div>
      <div class="friend-information">
        <h4 class="gift-name"><%= @fund.gift.name %></h4>
        <span class="gift-price pull-left"><%= number_to_currency @fund.gift.price, unit: '₩', precision: 0 %></span>
        <div class="clearfix"></div>
      </div>
      <div class="friend-information">
        <div class="contribute-button">
          <%= link_to "#{@fund.friend.name} 에게 선물하기", new_fund_contribution_path(@fund), class: 'btn btn-lg btn-success btn-block pull-right'%>
        </div>
      </div>
      <div class="friend-information">
        <h3 class="page-header">모금 현황</h3>
        <h2 class="text-center contribute-amount"><%= number_to_currency @fund.total_amount, unit: '원', precision: 0, format: '%n%u' %></h2>

        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= @fund.percentage %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @fund.percentage %>%;">
            <%= number_with_precision(@fund.percentage, :precision => 0) %>%
          </div>
        </div>

        <h3 class="page-header">공유하기</h3>
        <%= render partial: 'share/link' %>

        <div class="contributors">
          <h3 class="page-header">참여자 <small>총 <%= @fund.contributions.size %>명</small></h3>
          <% @fund.contributions.each_slice(4) do |contributions| %>
            <div>
              <% contributions.each do |contribution| %>
                <div class="contributor-image pull-left">
                  <%= image_tag "http://graph.facebook.com/#{ contribution.user.uid}/picture?height=1000&width=1000" %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
</div>