<!DOCTYPE html>
<html>
<head>
  <title>Macaron</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="title" content="Macaron Gift">
  <meta name="description" content="선물 모금에 참여해요!">
  <meta name="keywords" content="선물, 생일, 친구">
  <meta property="og:site_name" content="Macaron Gift">
  <meta property="og:url" content="<%= request.original_url %>">
  <meta property="og:type" content="article">
  <%= yield :meta %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Macaron</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "로그아웃", signout_path %></li>
    </ul>
  </div>
</nav>

<%= yield %>

</body>
</html>
